---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Stats from "../components/Stats.astro";
import About from "../components/About.astro";
import Process from "../components/Process.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Fimentum - Funding Expertise for Finnish Startups & Growth Companies"
  description="Navigate the complex world of startup and growth funding with an experienced partner. From Business Finland to EU programs, we help you secure the capital you need."
>
  <Header />
  <main>
    <Hero />
    <Services />
    <Stats />
    <About />
    <Process />
    <Contact />
  </main>
  <Footer />
</Layout>
